.Page {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--t-space-4);

  a {
    font-size: var(--t-font-size-small);
    padding-block: var(--t-space-1-5);
    padding-inline: var(--t-space-3);
    border-radius: var(--t-radius-medium);
    transition: background var(--t-transition-preset);

    &:hover,
    &:focus-visible {
      background-color: color-mix(in oklch, currentColor 10%, transparent);
    }
  }
}
