[data-theme="default"] {
  --t-spacing: 0.25rem; /* 4px */

  --t-space-0: 0;
  --t-space-0-25: calc(var(--t-spacing) * 0.25); /* 1px */
  --t-space-0-5: calc(var(--t-spacing) * 0.5); /* 2px */
  --t-space-1: calc(var(--t-spacing) * 1); /* 4px */
  --t-space-1-5: calc(var(--t-spacing) * 1.5); /* 6px */
  --t-space-2: calc(var(--t-spacing) * 2); /* 8px */
  --t-space-3: calc(var(--t-spacing) * 3); /* 12px */
  --t-space-4: calc(var(--t-spacing) * 4); /* 16px*/
  --t-space-5: calc(var(--t-spacing) * 5); /* 20px */
  --t-space-6: calc(var(--t-spacing) * 6); /* 24px */
  --t-space-8: calc(var(--t-spacing) * 8); /* 32px */
  --t-space-9: calc(var(--t-spacing) * 9); /* 36px */
  --t-space-10: calc(var(--t-spacing) * 10); /* 40px */
  --t-space-12: calc(var(--t-spacing) * 12); /* 48px */
  --t-space-16: calc(var(--t-spacing) * 16); /* 64px */
  --t-space-18: calc(var(--t-spacing) * 18); /* 72px */
  --t-space-20: calc(var(--t-spacing) * 20); /* 80px */
  --t-space-24: calc(var(--t-spacing) * 24); /* 96px */
  --t-space-30: calc(var(--t-spacing) * 30); /* 120px */
  --t-space-32: calc(var(--t-spacing) * 32); /* 128px */
  --t-space-40: calc(var(--t-spacing) * 40); /* 160px */
  --t-space-48: calc(var(--t-spacing) * 48); /* 192px */
}
