[data-theme="default"] {
  --t-elevation-below: -1;
  --t-elevation-base: 0;
  --t-elevation-raised: 10;
  --t-elevation-dropdown: 20;
  --t-elevation-sticky: 30;
  --t-elevation-fixed: 40;
  --t-elevation-overlay: 50;
  --t-elevation-modal: 60;
  --t-elevation-popover: 70;
  --t-elevation-toast: 80;
  --t-elevation-tooltip: 90;
  --t-elevation-max: 9999;
}
